{% extends 'app/dashboard/dashboard_template.html' %}

{% block heading %}
    <section class="content-header">
        <h1>
            Menu
            {% comment %} <small>Overview</small> {% endcomment %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'app:dashboard' %}"><i class="fa fa-dashboard"></i>Menu</a></li>
            {% comment %} <li class="active">&nbsp;Overview</li> {% endcomment %}
        </ol>
    </section>
{% endblock %}

{% block content %}

    
<section class="content" style="font-size: 50px;">
    {% if request.user.user_type == 'Driver' %}
        <ul>
            <li>
                <strong>All the vehicals added:</strong> {{ vehicle.count }} 
                <a href="{% url 'app:view_rides' request.user.id %}">Details about that</a>
            </li>
            <li>
                <strong>Rides shared:</strong> {{ vehicle_share.count }} 
                <a href="{% url 'app:view_shared' request.user.id %}">Details about that</a>
            </li>
            <li>
                <strong>Ride requested by passenger:</strong> {{ request_in.count }} 
                <a href="{% url 'app:view_ride_requests' %}">Details about that</a>
            </li>
        </ul>
    {% else %}
        <ul>
            <li>
                <strong>Requested Rides:</strong> {{ request_out.count }} 
                <a href="{% url 'app:requests_user_view' request.user.id %}">More info</a>
            </li>
            {% comment %} <li>
                <strong>Followers:</strong> {{ request.user.get_no_followers }}
                <a href="#">More info</a>
            </li> {% endcomment %}
        </ul>
    {% endif %}
</section>



{% endblock %}