{% load widget_tweaks %}
{% for field in form %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label {% if field.errors %}class="control-label text-danger"{% else %}class="control-label"{% endif %}>{{ field.label_tag }}</label>
        {% if field.label == 'Start time' or field.label == 'Arrival time' %}
            <div class="input-group bootstrap-timepicker timepicker">
                {{ field|add_class:'form-control' }}
                <span class="input-group-addon" style="cursor: hand">
                    <i class="fa fa-clock-o"></i>
                </span>
            </div>
        {% elif field.label == 'Date' %}
            <div class="input-group date">
                {{ field|add_class:'form-control' }}
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        {% else %}
            {{ field|add_class:'form-control' }}
        {% endif %}
        {% if field.errors %}
            <span class="help-block">{{ field.errors|first }}</span>
        {% endif %}
    </div>
{% endfor %}
